# Dependencias
node_modules/

# Ignorar ejecutables en Mac/Linux
*.out
*.o
*.exe

# Variables de entorno
.env

# Ignorar archivos sin extensión pero no carpetas
*
!*/
!*.*

#Archivos de sistema
.DS_Store
